@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.woff2"), url("../fonts/roboto.woff");
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotomedium.woff2"), url("../fonts/robotomedium.woff");
    font-weight: medium;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/robotobold.woff2"), url("../fonts/robotobold.woff");
	font-weight: bold;
}

body {
	margin: 0;
	padding: 0;
}

.page {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	color: #283136;

	background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: #eeeeee;
}

.main-logo {
	width: 160px;
	height: 65px;
	padding-left: 53px;
    padding-right: 62px;
    padding-top: 50px;

}

.main-logo:hover {
	opacity: 0.8;
}

.main-logo:active {
	opacity: 0.3;
}

.main-navigation {
	line-height: 30px;
	font-weight: medium;
	color: #000000;
	display: flex;
	justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
}


.nav-list {
	list-style: none;
	display: flex;
	align-items: center;
	margin-top: 75px;
}

.nav-item {
    padding-left: 45px;
	padding-right: 45px;
}

.main-navigation a {
	color: #000000;
	text-transform: uppercase;
}

.main-navigation a:hover {
	color: #fb565a;
}

.main-navigation a:focus {
	color: #fb565a;
}

.main-navigation a:active {
	color: #a6a6a6;
}

.cart {
	margin-top: 75px;
	position: relative;
}

.cart::before {
  content: '';
  position: absolute;
  top: 31%;
  left: -23%;
  transform: translateX(-50%) translateY(-50%);
  width: 14px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15'%3E%3Ccircle fill='%23a6a6a6' cx='4.5' cy='13.5' r='1.5'/%3E%3Ccircle fill='%23a6a6a6' cx='12.5' cy='13.5' r='1.5'/%3E%3Cpath fill='%23a6a6a6' d='M15 2H4.07l-.422-2H0v2h2.031l1.985 9H15V9H9.441L15 6.951z'/%3E%3C/svg%3E%0A");
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
}

.slide {
  display: flex;
  position: absolute;
  opacity: 0;
  transition: all .5s ease-out;
}

.slide:target {
  z-index: 10;
  opacity: 1;
}

.slide-title {
	font-size: 55px;
	line-height: 65px;
	font-weight: medium;
	color: #000000;

	background-color: #eeeeee;
}

.slide-description {
	background-color: #eeeeee;
	padding-top: 30px;
    padding-bottom: 40px;
    margin: 0;
    width: 360px;
}

.slide-content{
	width: 521px;
	padding-top: 20px
}

.slider {
  position: relative;
  background: #eeeeee;
  height: 428px;
}

.slider-pagination {
  position: absolute;
  left: 46%;
  top: 76%;
  transform: translateX(-50%);
  bottom: 0;
  display: flex;
  flex-direction: row;
  z-index: 11;
}

.slider-pagination-btn {
  position: relative;
  background: #ffffff;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 17px;
}

.slider-pagination-btn:active {
  opacity: 0.5;
}

.slider-pagination-btn-active::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 4px;
  height: 4px;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.btn  {
    display: block;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff4f4;
    background-color: #fb565a;
    border: none;
    cursor: pointer;
}

.btn:hover {
	background-color: #e74246;
}

.btn:active {
	color: #e37376;
	background-color: #d7373b;
}

.btn-slide {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;
	width: 135px;
	border-radius: 3px;
}

.services-list {
	list-style: none;
	display: flex;
	width: 1160px;
	margin: 0 auto;
	padding: 80px 0 0 0;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.services-item-title {
    position: relative;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
    margin: 0;
    padding-top: 167px;
    padding-bottom: 30px;
}

.services-item-title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 146px;
  background: url("../img/illustration-1.png") no-repeat;
}

.services-item-2 .services-item-title::before {
  background: url("../img/illustration-2.png") no-repeat;
}

.services-item-3 .services-item-title::before {
  background: url("../img/illustration-3.png") no-repeat;
}

.services-item-description {
  margin: 0;
  margin-right: 150px;
  margin-bottom: 40px;
  padding: 0;
  width: 260px;
}

.btn-services {
  width: 160px;
  padding: 13px 0;
  text-align: center;
  border-radius: 3px;
  margin-bottom: 60px;
}

.btn-services-red:hover {
	background-color: #e74246;
}

.btn-services-red:active {
	color: #e37376;
	background-color: #e74246;
  box-shadow: inset 0px 3px 0px 0px rgba(193,49,53,1);
}

.btn-services-green {
	background-color: #00ca74;

}

.btn-services-green:hover {
	background-color: #00bc6c;
}

.btn-services-green:active {
	color: #4dc491;
	background-color: #00aa62;
  box-shadow: inset 0px 3px 0px 0px rgba(0,153,88,1);
}

.btn-services-yellow {
	background-color: #efc849;
}

.btn-services-yellow:hover {
	background-color: #eab534;
}

.btn-services-yellow:active {
	color: #edc265;
	background-color: #e5a722;
	box-shadow: inset 0px 3px 1px 0px rgba(206,150,31,1);
}

.about {
	display: flex;
	width: 1160px;
    margin: 0 auto;
    margin-top: 60px;
}

.about-title {
	font-size: 45px;
	line-height: 45px;
	font-weight: medium;
	color: #000000;
}

.about-description {
  width: 660px;
  flex-shrink: 0;
}

.features-list {
	list-style: none;
	display: flex;
	margin-left: 111px;
    margin-top: 52px;
}

.about-features-title {
	position: relative;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	margin: 0;
    padding-top: 230px;
    padding-left: 12px;
    margin-left: 141px;
}

.about-features-title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 215px;
  background: url("../img/nerds-illustration.png") no-repeat;
}

.features-item-persent {
	font-size: 45px;
	line-height: 10px;
	font-weight: bold;
	color: #000000;
}

.orders-title {
	font-size: 17px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.orders-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.orders-item {
  position: relative;
  padding-left: 40px;
}

.orders-item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(-50%);
  width: 25px;
  height: 2px;
  background: #fb565a;
}

.projects-list {
	list-style: none;
	display: flex;
    padding: 40px 0;
    margin: 40px auto 0;
    width: 1160px;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    align-items: center;
}

.projects-item {
  position: relative;
  margin-right: 100px;
}

.projects-item::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 52px;
  background: rgba(0, 0, 0, 0.2);
}

.projects-item:last-child {
  margin-right: 32px;
}

.projects-item:first-child {
  margin-left: 32px;
}

.projects-item:first-child::before {
  width: 0;
  height: 0;
}

.projects-item:nth-child(2)::before {
  top: 17px;
  left: -43px;
}

.projects-item:nth-child(3)::before {
  top: 0px;
  left: -43px;
}

.projects-item:nth-child(4)::before {
  top: 16px;
  left: -43px;
}

.projects-image {
	opacity: 0.2;
}

.projects-image:hover {
	opacity: 1;
}

.projects-image:active {
	opacity: 0.1;
}

.contact-us {
	display: flex;
	flex-direction: column;
	margin-left: 140px;
	margin-right: 800px;
	margin-top: 30px;
	background-color: #ffffff;

}

.contact-us-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.contact-address,
.contact-phone {
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: #666666;
}

.contact-us-btn {
	display: block;
	border-radius: 5px;
	width: 219px;
	margin-bottom: 30px;
}


 .pop-up {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 961px;
	height: 592px;
	margin: 0 auto;
}

.write-us-form {
	padding-left: 100px;
	padding-right: 100px;
}

.write-us-form input {
	margin-top: 10px;
	margin-bottom: 60px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 5px;
	width: 360px;
	border: 2px solid #b4b9bb;
}
 .write-us-form textarea {
	margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px 0 0 10px;
    border: 2px solid #b4b9bb;
    border-radius: 5px;
 }

.pop-up input:hover,
.pop-up input:focus,
.pop-up textarea:hover,
.pop-up textarea:focus {
	border-color: #000000;
}

.pop-up-intro {
	display: flex;
}

.form-title {
	font-size: 45px;
	line-height: 45px;
	font-weight: medium;
	color: #000000;
	margin: 0;
	padding-top: 70px;
    padding-bottom: 45px;
	padding-right: 425px;
}

.close-button {
	background-color: #ffffff;
	opacity: 0.3;
}

.close-button:hover,
.close-button:focus {
	background-color: #ffffff;
	opacity: 1;
}

.close-button:active {
	background-color: #ffffff;
	opacity: 0.1;
}

.your-name-box {
	display: flex;
	flex-direction: column;
	padding-right: 40px;
}

.your-mail-box {
	display: flex;
	flex-direction: column;
}

.your-info {
	display: flex;
}

.letter-text {
	display: flex;
	flex-direction: column;
}

.send-btn {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 80px;
	padding-left: 80px;
	border-radius: 3px;
}

.map {
  position: relative;
  background: #eeece5;
  background-image: url(../img/map.jpg);
  max-width: 1280px;
  min-height: 416px;
  margin: 60px auto 0;
}

.footer {
	display: flex;
	justify-content: space-around;
}

.footer-promo {
	margin-right: 236px;
}

.footer-promo-title {
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	color: #000000;
	margin: 0;
	padding: 0;
}

.footer-promo-content {
	font-size: 16px;
    line-height: 22px;
	font-weight: normal;
}

.social-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-item {
  background: #e1e1e1;
  width: 60px;
  height: 60px;
  margin-right: 30px;
  border-radius: 50%;
}

.social-item-vk {
  position: relative;
}

.social-item-vk::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 26px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='15' viewBox='0 0 26 15'%3E%3Cpath fill='%23FFF' d='M16.138 11.51c.956-.309 2.18 2.04 3.483 2.939.978.681 1.727.534 1.727.534l3.473-.05s1.815-.112.957-1.554c-.071-.12-.503-1.069-2.585-3.022-2.177-2.043-1.882-1.712.739-5.244 1.597-2.153 2.236-3.468 2.036-4.028-.192-.539-1.365-.399-1.365-.399L20.69.713c-.381.001-.704.119-.851.515-.003.004-.621 1.666-1.445 3.079-1.741 2.989-2.436 3.148-2.724 2.961-.661-.433-.494-1.737-.494-2.664 0-2.897.432-4.105-.846-4.417-.427-.104-.739-.172-1.828-.182-1.392-.021-2.574 0-3.244.329-.445.223-.786.712-.579.74.26.035.843.16 1.155.586.401.552.389 1.789.389 1.789s.229 3.411-.54 3.834c-.528.29-1.25-.302-2.803-3.016-.793-1.388-1.392-2.922-1.392-2.922s-.116-.285-.326-.441c-.25-.185-.6-.244-.6-.244L.848.684S.29.7.085.946c-.182.218-.015.668-.015.668s2.909 6.881 6.203 10.347c3.02 3.182 6.452 2.971 6.452 2.971h1.555s.469-.054.709-.312c.224-.24.214-.691.214-.691s-.031-2.109.935-2.419z'/%3E%3C/svg%3E");
}

.social-item-vk:hover,
.social-item-vk:focus {
	background-color: #e74246;
}

.social-item-fb {
	position: relative;
}

.social-item-fb::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 14px;
  height: 22px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='22' viewBox='0 0 12 22'%3E%3Cpath fill='%23FFF' d='M12 4V0H8a4 4 0 0 0-4 4v4H0v4h4v10h4V12h4V8H8V4h4z'/%3E%3C/svg%3E");
  }

.social-item-fb:hover,
.social-item-fb:focus {
	background-color: #e74246;
}

.social-item-inst {
	position: relative;
}

.social-item-inst::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 21px;
  height: 21px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21'%3E%3Cpath fill='%23FFF' d='M18 0H3C1.35 0 0 1.35 0 3v15c0 1.65 1.35 3 3 3h15c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3zm-7.5 7c1.93 0 3.5 1.57 3.5 3.5S12.43 14 10.5 14 7 12.43 7 10.5 8.57 7 10.5 7zM18 18H3V9h1.181A6.504 6.504 0 0 0 4 10.5a6.5 6.5 0 1 0 13 0 6.45 6.45 0 0 0-.181-1.5H18v9zm0-11h-4V3h4v4z'/%3E%3C/svg%3E");
  }

.social-item-inst:hover,
.social-item-inst:focus {
	background-color: #e74246;
}

.catalog-intro {
   margin: 0;
   padding: 0;
   background-color: #eeeeee;
}

.catalog-intro-title {
	margin: 0;
	padding-top: 80px;
	padding-bottom: 80px;
	padding-right: 290px;
	padding-left: 290px;
	font-size: 55px;
	line-height: 55px;
	color: #000000;
}

.content {
	display: flex;
}

.sort {
	display: flex;
	margin-top: 100px;
	margin-left: 140px;
}

.sort-list {
	list-style: none;
	display: flex;
	margin: 0;
	padding-left: 250px;
}

.sort-item {
	padding-right: 25px;
}

.sort-btns-list {
	list-style: none;
	display: flex;
	margin: 0;
}

.sort-btn-down,
.sort-btn-up {
	background-color: #ffffff;
	opacity: 0.2;
}

.sort-btn-down:hover,
.sort-btn-down:focus,
.sort-btn-up:hover,
.sort-btn-up:focus {
	background-color: #ffffff;
	opacity: 0.5;
}

.sort-btn-down:active,
.sort-btn-up:active {
	background-color: #ffffff;
	opacity: 1;
}

.sort-forms {
	display: flex;
	flex-direction: column;
	width: 260px;
	margin-left: 140px;
	margin-top: 100px;
}

.sort-title {
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.sort-link {
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;
	color: #000000;
	opacity: 0.3;
}

.sort-link:hover {
	opacity: 0.6;
}

.sort-link:active,
.sort-link:disabled {
	opacity: 1;
}

.cost-sort {
	border: none;
}

.range {
	width: 260px;
}

.cost-sort input {
	margin: 20px 0;
}

.costs-input {
	display: flex;
	margin-bottom: 60px;
}

.costs-input input {
	font-size: 16px;
	line-height: 22px;
	color: #283136;
	padding: auto 10px;
	width: 75px;
    border: 0;
    background-color: #eeeeee;
    margin: 0 15px;
    border-radius: 3px;
}

.grid-sort {
	border: none;
	min-width: 202px;
}

.grid-list {
	list-style: none;
}

.grid-item {
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	color: #283136;
	padding-bottom: 20px;
	position: relative;
}

.grid-item-input + .grid-item-lable::before {
  content: '';
  position: absolute;
  top: 20%;
  left: -16%;
  transform: translateX(-50%) translateY(-50%);
  width: 25px;
  height: 25px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2225%22 height=%2225%22 viewBox=%220 0 25 25%22%3E%3Cpath fill=%22%234D4D4D%22 d=%22M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z%22/%3E%3C/svg%3E ');
  opacity: 0.3;
}

.grid-item-input:focus + .grid-item-lable::before {
  content: '';
  position: absolute;
  top: 20%;
  left: -16%;
  transform: translateX(-50%) translateY(-50%);
  width: 25px;
  height: 25px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2225%22 height=%2225%22 viewBox=%220 0 25 25%22%3E%3Cpath fill=%22%234D4D4D%22 d=%22M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z%22/%3E%3Ccircle fill=%22%234D4D4D%22 cx=%2212.5%22 cy=%2212.5%22 r=%224.5%22/%3E%3C/svg%3E ');
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  opacity: 0.3;
}


.grid-item-input:checked + .grid-item-lable::before {
  content: '';
  position: absolute;
  top: 20%;
  left: -16%;
  transform: translateX(-50%) translateY(-50%);
  width: 25px;
  height: 25px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2225%22 height=%2225%22 viewBox=%220 0 25 25%22%3E%3Cpath fill=%22%234D4D4D%22 d=%22M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z%22/%3E%3Ccircle fill=%22%234D4D4D%22 cx=%2212.5%22 cy=%2212.5%22 r=%224.5%22/%3E%3C/svg%3E ');
  opacity: 0.3;
}


.features-sort {
	border: none;
	min-width: 202px;
}


.features-sort-list {
    list-style: none;
	display: flex;
	flex-direction: column;
}

.features-sort-item {
	padding-bottom: 23px;
	position: relative;
}

.features-sort-input + .features-sort-lable::before {
  content: '';
  position: absolute;
  top: 20%;
  left: -17%;
  transform: translateX(-50%) translateY(-50%);
  width: 23px;
  height: 23px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2223%22 height=%2223%22 viewBox=%220 0 23 23%22%3E%3Cpath fill=%22%234D4D4D%22 d=%22M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z%22/%3E%3C/svg%3E ');
  opacity: 0.3;
}

.features-sort-input:focus + .features-sort-lable::before {
  content: '';
  position: absolute;
  top: 20%;
  left: -17%;
  transform: translateX(-50%) translateY(-50%);
  width: 23px;
  height: 23px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2223%22 height=%2223%22 viewBox=%220 0 23 23%22%3E%3Cpath fill=%22%234D4D4D%22 d=%22M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z%22/%3E%3C/svg%3E ');
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  opacity: 1;
}

.features-sort-input:checked + .features-sort-lable::before {
  content: '';
  position: absolute;
  top: 20%;
  left: -16%;
  transform: translateX(-50%) translateY(-50%);
  width: 27px;
  height: 23px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2227%22 height=%2223%22 viewBox=%220 0 27 23%22%3E%3Cpath fill=%22%234D4D4D%22 d=%22M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z%22/%3E%3Cpath fill=%22%234D4D4D%22 d=%22M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z%22/%3E%3C/svg%3E ');
  opacity: 0.3;
}

.form-btn {
	font-size: 16px;
	line-height: 18px;
	font-weight: medium;
	text-transform: uppercase;
	color: #000000;
	background-color: #eeeeee;
}

.form-btn:hover,
.form-btn:focus {
	background-color: #dfdfdf;
}

.form-btn:active{
	color: #000000;
	opacity: 0.3;
}

.catalog-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin-left: 80px;
	margin-bottom: 160px;
	margin-top: 60px;
}

.catalog-item {
	height: 619px;
	width: 360px;
}

.catalog-item figure {
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
}

.pagination-list {
	list-style: none;
	display: flex;
	justify-content: center;
}

.pagination-btn {
	font-size: 16px;
	line-height: 18px;
	font-weight: medium;
	text-transform: uppercase;
	color: #000000;
	background-color: #eeeeee;
	margin: 10px;
}

.pagination-btn:hover,
.pagination-btn:focus {
	background-color: #dfdfdf;
}

.pagination-btn:active {
	color: #959595;
	background-color: #d5d5d5;
}


